.lm-cal-container {
	width: 100%;
}
.lm-cal-sel {
	width: 100%;
}
.lm-modal-contact {
    background-color: rgba(35,40,45,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9;
    padding: 75px 337px;
    visibility: hidden;
}
.lm-modal-header {
    background-color: #fff;
    width: 100%;
    min-height: 75px;
    border: #eee 1px solid;
    border-radius: 10px 10px 0px 0px;
    padding: 13px 20px;

}
.lm-modal-footer {
    background-color: #fff;
    width: 100%;
    min-height: 75px;
    border: #eee 1px solid;
    border-radius: 0px 0px 10px 10px;
    padding: 13px 20px;
    text-align: right;
}
.lm-modal-body {
    background-color: #fff;
    min-height: 400px;
    width: 100%;
}
.lm-no-overflow {
	overflow: hidden;
}
.lm-show-modal {
    visibility: visible;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 1;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
}
.lm-btn {
    height: 47px;
    padding: 12px;
    width: 100px;
    border-radius: 0px;
    margin: 5px;
    color: #fff;
}
.lm-btn-default {
    background-color: #ecf0f1;
    color: #A7A7A7;
}
.lm-btn-default:hover {
    background-color: #bdc3c7;
    color: #A7A7A7;
}
.lm-btn-default:active {
    background-color: #bdc3c7;
    color: #A7A7A7;
}
.lm-btn-default:focus {
    background-color: #bdc3c7;
    color: #A7A7A7;
}

.lm-btn-danger {
    background-color: #e74c3c;
    color: #fff;
}
.lm-btn-danger:hover {
    background-color: #c0392b;
    color: #fff;
}
.lm-btn-danger:active {
    background-color: #c0392b;
    color: #fff;
}
.lm-btn-danger:focus {
    background-color: #c0392b;
    color: #fff;
}

.lm-btn-primary {
    background-color: #3498db;
    color: #fff;
}
.lm-btn-primary:hover {
    background-color: #2980b9;
    color: #fff;
}
.lm-btn-primary:active {
    background-color: #2980b9;
    color: #fff;
}
.lm-btn-primary:focus {
    background-color: #2980b9;
    color: #fff;
}

.lm-cal-sel {
    margin-bottom: 15px;
}
.result {
    padding: 14px;
    background-color: #ddd;
}